<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ root }}/static/css/style.css">
    <link rel="stylesheet" href="{{ root }}/static/reveal/reveal.css">
    <link rel="stylesheet" href="{{ root }}/static/reveal/theme.css" id="theme">
    <link href="https://unpkg.com/@primer/css@^16.0.0/dist/primer.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <title>{{ title }}</title>
</head>
<body>

    {% include 'templates/nav.html' %}

    {{ main }}

  </body>
</html>